alembic==1.14.1
alembic==1.15.2
Flask==2.3.2
Flask_Cors==4.0.1
Flask_Cors==5.0.0
flask_cors==5.0.1
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
python-dotenv==1.1.0
SQLAlchemy==2.0.32
SQLAlchemy==2.0.38
SQLAlchemy==2.0.36
SQLAlchemy==2.0.20
SQLAlchemy==2.0.21